.link {
	color: blue;
	cursor: pointer;
}

.input {
	
	&__error {
		color: red;
	}
}
.user {

	padding: 20px 0;
	
	&__name,
	&__address,
	&__birthday,
	&__city {
		
		display: inline-block;
		padding: 0 5px 0 0;
	}
}